#containerOver {
	position: absolute;
	margin: auto auto auto auto;
	padding: 0;
	left: 0;
	top: 0;
	display: none;
	z-index: 9;
	background: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
	overflow: hidden;
	width: 100%;
	height: auto;
}

#panoramBox {
	position: absolute;
	z-index: 10;
	display: none;
    left: 0;
	width: 100%;	
	height: 100%;
}

#win {
	background: white;	
/*	background: url(images/bg.gif) repeat-x left top white;  */	
	width: 1%;
/*	filter: progid:DXImageTransform.Microsoft.Shadow(color=silver,direction=230,strength=4);	*/	
} 

#win td {
    padding: 10px;
}

#win img {
	border: 1px solid #f0cb94;
	border: 0;
}

#panoramBoxHeader {
	padding: 0;
	display: block;
	margin-top: 1em;
	margin-bottom: 0;
	border: none;
	text-align: center;
  	font: bold 20px Garamond, Times;
    color: #333333;
	white-space: nowrap;
	text-transform: none;
    display: none;
}

#panoramBoxImg {
    visibility: hidden;  
}

#panoramBoxObject {
    width: 840px;
    height: 480px;
}

#panoramBoxEmbed {
    width: 840px;
    height: 480px;
}

#panoramBoxContent {
	background: url(./images/loading2.gif) no-repeat center center;
	text-align: center;
}

#panoramBoxFooter {
	text-align: center;
	margin: 2em;
	display: none;
}

#panoramBoxCloseButton {
	width: 30px;
	height: 30px;
	float: right;
	margin: 17px 0 0 12px;
	background: url(./images/close-button-x.gif) no-repeat center center;
	cursor: pointer;
    opacity: 0.3;
    filter: alpha(opacity=30);
    display: none;
}

a:hover #panoramBoxCloseButton {
	background: url(./images/close-button-x-a.gif) no-repeat center center;
    opacity: 1;
    filter: alpha(opacity=100);
}
